<turbo-frame id="article_form">
  <div class="article-form">
  <%= render 'shared/errors', object: @article %>
  <%= form_with model: @article do |f| %>
    <div class="field">
      <%= f.label "Название", class: "label" %>
      <div class="control">
	<%= f.text_field :title, class: "input" %>
      </div>
    </div>
    <div class="field">
      <%= f.label "Текст", class: "label" %>
      <div class="control">
	<%= f.text_area :body, class: "input" %>
      </div>
    </div>
    <div class="mt-1">
      <div class="mb-3">
	<%= f.label "Теги:", class: "label" %>
      </div>
      <div>
	<select>
	  <%= f.collection_select :tag_ids, tags, :id, :title, {}, multiple: true,
	  data: {controller: 'select'} %>
	</select>
      </div>
    </div>
    <div class="control">
      <%= f.submit (@article.new_record? ? 'Опубликовать' : "Изменть"), class: 'button is-link' %>
    </div>
  <% end %>
  </div>
</turbo-frame>
