<turbo-frame id="article_form">
  <div class="article-form">
  <%= render 'shared/errors', object: @article %>
  <%= form_with model: @article do |f| %>
    <div class="field">
      <%= f.label "Название", class: "label" %>
      <div class="control">
	<%= f.text_field :title, class: "input" %>
      </div>
    </div>
    <div class="field">
      <%= f.label "Текст", class: "label" %>
      <div class="control">
	<%= f.text_field :body, class: "input" %>
      </div>
    </div>
    <div class="control">
      <%= f.submit (@article.new_record? ? 'Опубликовать' : "Изменть"), class: 'button is-link' %>
    </div>
  <% end %>
  </div>
</turbo-frame>
