<div class="mr-5 ml-5">
  <%= form_with model: @user do |f| %>
    <div class="field">
      <%= f.label :name, class: "label" %>
      <div class="control">
	<%= f.text_field :name, class: "input" %>
      </div>
    </div>
    <div class="field">
      <%= f.label :email, class: "label" %>
      <div class="control">
	<%= f.text_field :email, class: "input" %>
      </div>
    </div>
    <div class="field">
      <%= f.label :password, class: "label" %>
      <div class="control">
	<%= f.password_field :password, class: "input" %>
      </div>
      
    </div>
    <div class="field">
      <%= f.label :password_confirmation, class: "label" %>
      <div class="control">
	<%= f.password_field :password_confirmation, class: "input" %>
      </div>
    </div>
    <% unless @user.new_record? %>
    <div class="field">
      <%= f.label :old_password, class: "label" %>
      <div class="control">
	<%= f.password_field :old_password, class: "input" %>
      </div>
    </div>
    <% end %>
    <div class="control">
      <%= f.submit (@user.new_record? ? 'Зарегестрироваться' : 'Сохранить'), class: 'button is-link' %>
    </div>
  <% end %>
</div> 
