<% provide :navigation do %>
  <header>
    <nav class="navbar mt-1">
      <div class="navbar-start ml-2">
	<%= nav_tab "Главная", root_path, class: "navbar-item", current_page: current_page %>
      </div>
      <div class="navbar-end mr-2">
	<% if user_singed_in? %>
	  <div class="navbar-item has-dropdown is-hoverable">
	    <%= link_to current_user.name, "#", class: "navbar-item" %>
            <div class="navbar-dropdown is-right">
	      <%= link_to "Редактировать", edit_user_path(current_user), class: "navbar-item" %>
	      <%= link_to "Выйти", session_path, class: "navbar-item",
			  data: {turbo_method: :delete,
				 turbo_confirm: "Вы хотите выйти?"} %>
	      
            </div>
	  </div>
      </div>
	<% else %>
      <%= nav_tab "Зарегестрироваться", new_user_path, class: "navbar-item", current_page: current_page %>
      <%= nav_tab "Войти", new_session_path, class: "navbar-item", current_page: current_page %>
	<% end %>
      </div>
    </nav>
  </header>
<% end %>

